img {
  width: 64px;
  height: 64px;
}

.well {
  background-image: none;
  background-color: white;
}

.media {
  padding: 5px;
  border-radius: 10px;
  &:hover {
    background-color: whitesmoke;
  }
}

.badge {
  pointer-events: all;
  cursor: pointer;
}
